{% extends 'base.html' %}

{% block content %}
    <div id="container">
				<h1>Candid Envelope Readers</h1>
        <div id="image_container">
          <h3>Output</h3>
          <br>
					<img id='live' src="static/photos/out.png" alt="Current Image">
          <h3>Input Photo</h3>
          <img id='static' src="static/photos/blue_img.jpg" alt="static Test Image">
        </div>
						<form action="/newPicture" method="get">
							<div id="controlPanel">
							<button id='newPicture' formaction="/newPicture">New Picture</button>
              <button id='newPicture' formaction="/newPictureContours">New Contours Picture</button>
              <button id='newPicture' formaction="/newPictureChess">New Chess Picture</button>
              <button id='newPicture' formaction="/newPictureSize">New Size Picture</button>
						</form>
				</div>
    </div>
{% endblock %}
