#container {
  width: 60%;
  margin: 50px auto;
}

#container h1 {
  text-align: center;
}

#controlPanel {
  text-align: center;
}

#newPicture {
  margin-top: 1em;
  background-color: #81ecec;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
}

#static, #live {
  max-height: 30em;
  max-width: 40em;

}

#image_container {
  display: flex;
  justify-content: center;
}

/* THIS MAKES THE IMAGES FILL FULL CONTAINER*/
img {
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
}
/* Start Code for Slide Nav Bar */
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
/* body h2 {
  margin: 1em;
} */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* End Code for slide nav bar */
